<section class="demo">
    <h2>Unix Command Manual</h2>

    <form method="post" action="/injections/code-injection">
        <label>Type the command you'd like to see info about, You can try: <i>ls</i>, <i>cd</i> etc
            <input type="text" name="cmd">
        </label>

        <button type="submit">Search</button>
    </form>
</section>
