<section class="demo">
    <h2>Crazyapp.io</h2>

    <form method="post" action="/injections/sql-injection">
        <label>username <input type="text" name="username"></label>
        <label>password <input type="password" name="password"></label>
        <button type="submit">Log in</button>
    </form>
</section>
