<section class="demo">
    <h2>NoSqlInjectionHere.io</h2>

    <form method="post" action="/sensitive-data-exposure/password-leak">
        <label>username <input type="text" name="username"></label>
        <label>password <input type="password" name="password"></label>
        <button type="submit">Log in</button>
    </form>
</section>
