<h1 style="opacity: 0"><a href="/owasp-top-ten/injections" class="nav-succ">▶︎</a></h1>

<section>
  <h2 class="front-title">Owasp top 10 <a href="/owasp-top-ten/injections" class="nav-succ">▶︎</a></h2>

  <h3>Open Web Application Security Project - 10 most critical/spread web application security risks</h3>
</section>
