<h1><a href="/owasp-top-ten/sensitive-data-exposure" class="nav-prec">◀︎</a>Insufficient Attack Protection 🛡<a href="/owasp-top-ten/csrf" class="nav-succ">▶︎</a></h1>

<section>
  <h2>I bet for you it'll always be insufficient...</h2>

  <quote>The majority of applications and APIs lack the basic ability to detect, prevent, and respond to both manual and automated attacks. Attack protection goes far beyond basic input validation and involves automatically detecting, logging, responding, and even blocking exploit attempts. Application owners also need to be able to deploy patches quickly to protect against attacks.</quote>

  <p>It is just about attack attempts detection</p>
</section>
