<h1><a href="/owasp-top-ten/broken-access-control" class="nav-prec">◀︎</a>Security Misconfiguration 📋<a href="/owasp-top-ten/sensitive-data-exposure" class="nav-succ">▶︎</a></h1>

<section>
  <h2>Configs are hard</h2>

  <quote>Good security requires having a secure configuration defined and deployed for the application, frameworks, application server, web server, database server, platform, etc. Secure settings should be defined, implemented, and maintained, as defaults are often insecure. Additionally, software should be kept up to date.</quote>

  <p>
    Well it's just about knowing the software you are using and getting the default right :)
  </p>
</section>

<section>
  <h2>Iz that even demoable 👻</h2>

  <h3>Default Login/Password</h3>

  <p>
    Well yes and no. It is just when you leave a default login/password and a lot of Software have those.

    <ul>
      <li><a href="http://siph0n.net/exploits.php?id=4453">Lanse Host</a>
      <li><a href="http://siph0n.net/exploits.php?id=4308">Zoom Admin</a>
    </ul>
  </p>
</section>

<section>
  <h2>So what? I just have to remove the default stuff.</h2>

  <p>Rejoice, buddy!</p>

  <p>You basically got it right, just check the config of your stack. ;)</p>

  <ul>
    <li>Harden web servers and application servers
    <li>Harden database
  </ul>
</section>

