<h1><a href="/owasp-top-ten/using-component-with-known-vuln" class="nav-prec">◀︎</a>Under Protected APIs 🌩<a href="/questions" class="nav-succ">▶︎</a></h1>

<section>
  <h2>This is basically all of the previous issue?</h2>

  <quote>Modern applications often involve rich client applications and APIs, such as JavaScript in the browser and mobile apps, that connect to an API of some kind (SOAP/XML, REST/JSON, RPC, GWT, etc.). These APIs are often unprotected and contain numerous vulnerabilities.</quote>

  <p>Euh... yes but via API call (not form submission)</p>
</section>
