<h1><a href="/owasp-top-ten/csrf" class="nav-prec">◀︎</a>Using Component with known Vulnerabilities 🗑<a href="/owasp-top-ten/underprotected-apis" class="nav-succ">▶︎</a></h1>

<section>
  <h2>Wait...</h2>

  <quote>Components, such as libraries, frameworks, and other software modules, run with the same privileges as the application. If a vulnerable component is exploited, such an attack can facilitate serious data loss or server takeover. Applications and APIs using components with known vulnerabilities may undermine application defenses and enable various attacks and impacts.</quote>

  <p>So basically don't use a software if it is known to be vulnerable</p>
</section>

<section>
  <h2>This is easy right? 😎</h2>

  <h3>Common Vulnerabilities and Exposures (CVE)</h3>

  <p>
    Vulnerability reports <b>are not</b> standardized! however some organization are trying to regroup and list those vulnerability into repositories. For example <a href="http://www.cvedetails.com/">CVE List details</a>.
    <br><br>
    Determining if you are vulnerable requires searching these databases, as well as keeping abreast of project mailing lists and announcements for anything that might be a vulnerability.
    <br><br>
    Both for Front-End and Back-End
  </p>
</section>
