<!DOCTYPE html>
<html>
  <head>
    <title>Owasp10 - Demo</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'demo', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
